<p>Currency exchanger</p>
<form method="post" action="/">

  <select name="govno">
    <option value="1" > govno 1</option>
    <option value="2" > govno 2</option>
    <option value="3" > govno 3</option>
  </select>

  <input name="kakaha2" value="<%=$kakaha%>">

  <input type="submit">

</form>

